In [1]:
import pandas as pd

In [26]:
df=pd.DataFrame(columns=[['LEVEL 2/LEVEL 1','LEVEL 3/LEVEL 2','LEVEL 4/LEVEL 3','LEVEL 5/LEVEL 4',]])

In [27]:
df

Empty DataFrame
Columns: [(LEVEL 2/LEVEL 1,), (LEVEL 3/LEVEL 2,), (LEVEL 4/LEVEL 3,), (LEVEL 5/LEVEL 4,)]
Index: []

In [28]:
def create_rows(name,a,b,c,d):
    
    df.loc[len(df.index)] = [a,b,c,d] 
    df.rename(index={len(df)-1: name},inplace=True)
    
    return df

In [30]:
create_rows('www.websyer.com',2,3,4,5)

,LEVEL 2/LEVEL 1,LEVEL 3/LEVEL 2,LEVEL 4/LEVEL 3,LEVEL 5/LEVEL 4
www.chrome.com,1,2,3,4
www.websyer.com,2,3,4,5